



  <nav class="navbar navbar-expand-sm " id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href=" "><h1>E-Com</h1> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span [ngSwitch]="menuType">

      <span *ngSwitchCase="'default'">
      <div class="collapse navbar-collapse " style="justify-content: end;" id="collapsibleNavbar">
        <form class="d-flex " role="search">
          <input class="form-control me-2" style="width: 490px;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav" >
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['sellerauthen']">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="">Cart(0)</a> 
        </ul>
     
      </div>
    </span>
    <span *ngSwitchCase="'sellerMenu'">
      <div class="collapse navbar-collapse " style="justify-content: end;" id="collapsibleNavbar">
    
        <ul class="navbar-nav" >
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
           <a class="nav-link ">{{sellerName |titlecase}}</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link " [routerLink]="">Add Product</a>    </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="">View Product</a>    </li>
              <li class="nav-item">
                <a class="nav-link " (click)="logout()">Logout</a>
              </li>
        </ul>
     
      </div>
    </span>

  </span>
    </div>
  </nav>






  
<!-- 
  <mat-toolbar color="primary">
    <button mat-button  ><a routerLink="/" style="font-size: 25px; font-weight: 600;">A-Z</a> </button >
      <span class="spacer"></span>


   
      <span [ngSwitch]="sellerMenu">
        
                <span *ngSwitchCase="'default'">
            <input fill="outline"  type="search" [(ngModel)]="value" placeholder="search products,items ">
            <button *ngIf="value" matSuffix mat-icon-button  (click)="value=''">
            </button>
        

        <button mat-button  *ngIf="sellerMenu==='default'">
            Login
        </button>
        <button mat-button routerLink="seller-auth">
            Seller
        </button>
        <button   mat-button>
            Cart
        </button>
    </span>
      
 
      <span *ngSwitchCase="'seller'">
        
            
        

    <button mat-button  >
       <mat-icon>account_circle</mat-icon>{{sellerName}}
    </button>
    <button mat-button routerLink="seller-add-product"> 
       Add Product
    </button>
    <button   mat-button routerLink="seller-home">
        Product List
    </button>

    <button   mat-button (click)="logout()">
        Logout
        </button>
  </span>
</span>

</mat-toolbar> -->
  





<router-outlet></router-outlet> 




